{% extends 'blog/base.html' %}


{% block content %}
  <div class="jumbotron">

    <h2>Please Login: </h2>
    <h3>(Must be SuperUser, please check admin for issues.)</h3>
    {% if form.errors %}
        <p>Your username and password didn't match.Please try again!</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
        {{form.as_p}}
        <!-- .as_p is a way of formatting where each character field in the form is printed on successive paragraphs! -->

        <input type="submit" class='btn btn-primary' value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        <!-- ^ deals with whats next after this person has been logged in! -->
    </form>
  </div>
{% endblock %}
